

body {
    background-color: rgb(62, 48, 102);

}






.thursNights {
    text-align: center;
    background-color: blue;
}

table, th, td {
    border: 1px rgb(51, 137, 218);
    border-collapse: collapse;
    border-radius: 10px;
    color: rgb(51, 137, 218);
  }
th, td {
    background-color: #d7f4f5;
}
