



.thursNights {
    text-align: center;
    background-color: blue;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 10px;
    color: rgb(129, 205, 235);
  }
  th, td {
    background-color: #93e9e9;
  }

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  }